<div class="page-header">
  <h1>Editing QSL Card Track for <%= @callsign.callsign.upcase %></h1>
</div>

<%= form_for @track, url: callsign_track_path(id:@track), multipart: true, html: { class: "form-horizontal", method: :patch } do |f| %>
  <%= render partial: 'form', locals: {f: f, track: @track} %>
<% end %>

<hr>
<%= link_to 'Show', callsign_track_path(@callsign), class: "btn btn-default" %>
