<div class="page-header">
  <h1>New QSL Card Track for <%= @callsign.callsign.upcase %></h1>
</div>

<%= form_for @track, url: callsign_tracks_path, multipart: true, html: { class: "form-horizontal", method: :post } do |f| %>
  <%= render partial: 'form', locals: {f: f, track: @track} %>
<% end %>
<hr>
<%= link_to 'Back', callsign_tracks_path, class: "btn btn-default" %>
