<h1>New Track</h1>

<%= form_for @track, url: callsign_tracks_path, multipart: true, html: { class: "", method: :post } do |f| %>
<%= render partial: 'form', locals: {f: f, track: @track} %>
<% end %>

<%= link_to 'Back', callsign_tracks_path %>
